<div widget class="card border-0 box-shadow">
  <div class="card-header transparent border-0 text-muted">
    <h5 class="mb-3">Expense</h5>

  </div>
  <div class="card-block widget-body">
    <div class="container">
      <div class="row no-gutter">
        <div class="col-md-6">
          <form #frmFilter="ngForm" (submit)="SaveData()">
            <div class="form-group row">
              <label for="dtFrom" class="col-sm-4 col-form-label">Date: </label>
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dtFrom"
                    [(ngModel)]="Voucher.Date"
                    ngbDatepicker
                    #dtFrom="ngbDatepicker"
                    required
                  />
                  <div class="input-group-addon">
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="dtFrom.toggle()"
                    >
                      <i class="fa fa-calendar"> </i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
            <div class="form-group row">
              <label for="cmbCustomer" class="form-label col-md-4">
                Expense Head
              </label>
              <div class="col-md-8">
                <ng-select
                  name="cmbHeads"
                  id="cmbHeads"
                  [items]="ExpenseHeads"
                  bindLabel="Head"
                  bindValue="HeadID"
                  [(ngModel)]="Voucher.HeadID"
                  required
                  class="custom"
                  [selectOnTab]="true"
                  [searchable]="true"
                  placeholder="Select Expense Head"
                >
                </ng-select>
              </div>
            </div>
            <div class="row form-group">
              <label for="description" class="col-md-4 form-label"
                >Description
              </label>
              <div class="col-md-8">
                <input
                  name="description"
                  class="form-control"
                  type="text"
                  name="description"
                  [(ngModel)]="Voucher.Desc"
                  id="description"
                />
              </div>
            </div>
            <div class="row form-group">
              <label for="amount" class="col-md-4 form-label"
                >Amount Paid
              </label>
              <div class="col-md-8">
                <input
                  class="form-control"
                  type="number"
                  name="amount"
                  [(ngModel)]="Voucher.Amount"
                  id="amount"
                  required
                />
              </div>
            </div>
            <div class="row no-gutter">
              <div class="form-group col-md-12">
                <label>&nbsp;</label>
                <button
                  type="submit"
                  class="btn btn-primary form-control"
                  accesskey="s"
                  [disabled]="!frmFilter.valid"
                >
                  <i class="fa fa-save"></i>
                </button>
              </div>
            </div>
            <div class="row no-gutter mt-2">
              <div class="col-md-6 pr-1">
                <button type="button" class="btn btn-outline-secondary form-control" (click)="toggleShowExpenses()">
                  <i class="fa fa-list"></i> Show Expenses
                </button>
              </div>
              <div class="col-md-6 pl-1">
                <button type="button" class="btn btn-outline-info form-control" (click)="toggleShowAll()">
                  <i class="fa fa-eye"></i> {{ showAll ? 'Show Filtered' : 'Show All' }}
                </button>
              </div>
            </div>
            <div class="row no-gutter"></div>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row mt-3" *ngIf="showExpenses">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body p-2">
              <table class="table table-sm mb-0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Head</th>
                    <th>Description</th>
                    <th class="text-right">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of Expenses">
                    <td>{{ e.Date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ e.HeadName || e.Head || e.ExpenseHead }}</td>
                    <td>{{ e.Desc }}</td>
                    <td class="text-right">{{ e.Amount | number:'1.2-2' }}</td>
                  </tr>
                  <tr *ngIf="!Expenses || Expenses.length === 0">
                    <td colspan="4" class="text-center text-muted">No expenses to show</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
